{% extends 'base.html' %}

{% block title %}Application (Graphical Method){% endblock %}

{% block content %}
<h1>Application (Graphical Method)</h1>
<p>Real-world applications of the graphical method in linear programming.</p>

<p>The graphical method is widely used in various industries such as manufacturing, transportation, finance, and agriculture to solve linear programming problems with two variables. It helps in optimizing production, resource allocation, cost minimization, and profit maximization by visually representing constraints and objective functions on a graph.</p>

<br>
<button type="button" class="btn btn-secondary" onclick="window.location.href='{% url 'graphical_method' %}'">Back</button>
{% endblock %}
